#title {
    text-align: center;
    background-color: aqua;
    font-size: 150px;
}

.chiliimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 350px;
}